In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

paths = Path.cwd() / "data"
paths = list(paths.glob("*.*"))

## Examine Dataset 1

In [9]:
df1 = pd.read_csv(paths[1], dtype={"CLIENT_SEX":"category","STAFF_VIB":"category","EB_REGISTER_CHANNEL":"category","SMS":"category","VERIFY_METHOD":"category"}, parse_dates=[2,3,5]) 
df1[['STAFF_VIB', 'SMS']] = df1[['STAFF_VIB', 'SMS']].replace({'Y':True,'N':False})
df1 = df1.astype(dict(zip(['STAFF_VIB', 'SMS'],['bool',]*2)))
df1['DATE_OF_BIRTH'] = pd.to_datetime(df1['DATE_OF_BIRTH'], infer_datetime_format=True, errors='coerce')
df1

,CUSTOMER_NUMBER,CLIENT_SEX,CLIENT_CREATE_DATE,DATE_OF_BIRTH,STAFF_VIB,IB_REGISTER_DATE,EB_REGISTER_CHANNEL,SMS,VERIFY_METHOD
0,639362,M,2019-04-23,1996-01-01,False,2019-04-23,BRANCH,True,SMS
1,452440,M,2019-01-11,1999-10-10,False,2019-01-11,BRANCH,True,SMART_OTP
2,326290,F,2019-05-27,1996-06-29,False,2019-05-27,BRANCH,True,SMS
3,20802,M,2019-11-12,1992-08-07,False,2019-11-12,BRANCH,True,SMART_OTP
4,114244,M,2019-03-29,1973-10-15,False,2019-03-29,BRANCH,False,SMS
...,...,...,...,...,...,...,...,...,...
290218,174454,F,2019-07-08,1997-12-09,False,NaT,NaN,True,NaN
290219,195828,F,2019-10-10,1999-06-13,False,NaT,NaN,True,NaN
290220,234465,M,2019-01-23,1974-12-10,False,NaT,NaN,True,NaN
290221,119456,M,2019-04-09,1995-06-15,False,NaT,NaN,True,NaN
290222,590903,M,2019-07-19,1998-03-28,False,NaT,NaN,True,NaN

In [10]:
df1.dtypes

CUSTOMER_NUMBER                 int64
CLIENT_SEX                   category
CLIENT_CREATE_DATE     datetime64[ns]
DATE_OF_BIRTH          datetime64[ns]
STAFF_VIB                        bool
IB_REGISTER_DATE       datetime64[ns]
EB_REGISTER_CHANNEL          category
SMS                              bool
VERIFY_METHOD                category
dtype: object

## Examine Dataset 2

In [2]:
df2 = pd.read_csv(paths[2], dtype={"TRANS_LV1":"category","TRANS_LV2":"category","DAY_OF_WEEK":"category"}, parse_dates=[2]) 
df2

,TRANS_LV1,TRANS_LV2,TRANS_DATE,DAY_OF_WEEK,TRANS_HOUR,TRANS_NO,TRANS_AMOUNT,CUSTOMER_NUMBER
0,Transfer,Outside_VIB,2019-01-03,Thu,17,2,189771864.0,701619
1,Transfer,Outside_VIB,2019-07-01,Mon,13,2,30224900.0,701619
2,Transfer,Outside_VIB,2019-01-02,Wed,15,1,100000.0,701619
3,Payment,Credit_card_repayment,2019-01-03,Thu,14,1,85000000.0,262123
4,Payment,Credit_card_repayment,2019-01-28,Mon,22,1,83000000.0,262123
...,...,...,...,...,...,...,...,...
1418025,Transfer,Outside_VIB,2019-12-31,Tue,16,1,8400000.0,9852
1418026,Payment,Credit_card_repayment,2019-12-31,Tue,11,2,499000.0,807647
1418027,Payment,Credit_card_repayment,2019-12-31,Tue,16,1,20957808.0,791916
1418028,Payment,Credit_card_repayment,2019-12-31,Tue,13,1,2000000.0,469868
1418029,Transfer,Outside_VIB,2019-12-31,Tue,20,1,200000.0,761578

In [12]:
df2.dtypes

TRANS_LV1                category
TRANS_LV2                category
TRANS_DATE         datetime64[ns]
DAY_OF_WEEK              category
TRANS_HOUR                  int64
TRANS_NO                    int64
TRANS_AMOUNT              float64
CUSTOMER_NUMBER             int64
dtype: object

In [23]:
df2.TRANS_LV2.cat.categories

Index(['Cable', 'Credit_card_repayment', 'Game', 'Insurance_payment',
       'Lending_repayment', 'Lifestyle_payment', 'Mobile', 'Outside_VIB',
       'QR_payment', 'Utilities_payment', 'VNDirect', 'Within_VIB', 'eWallet',
       'MCPP'],
      dtype='object')

In [9]:
df2[df2["CUSTOMER_NUMBER"] == 630178].sort_values(["TRANS_DATE","TRANS_HOUR"]).to_csv("df2_630178.csv")

## Examine Dataset 3

In [7]:
df3 = pd.read_csv(paths[3], dtype={"DAY_OF_WEEK":"category","ACTIVITY_NAME":"category"}, parse_dates=[0]) 
df3

,ACTIVITY_DATE,DAY_OF_WEEK,ACTIVITY_HOUR,ACTIVITY_NO,CUSTOMER_NUMBER,ACTIVITY_NAME
0,2019-01-22,Tue,20,2,630178,MB_INTEREST_RATE_VIEW
1,2019-01-10,Thu,18,16,630178,MB_INTEREST_RATE_VIEW
2,2019-01-26,Sat,17,15,630178,MB_INTEREST_RATE_VIEW
3,2019-01-02,Wed,9,27,630178,MB_INTEREST_RATE_VIEW
4,2019-01-19,Sat,8,3,630178,MB_INTEREST_RATE_VIEW
...,...,...,...,...,...,...
16132670,2019-11-01,Fri,11,1,327258,TRANSFER_VIB_ACCOUNT_BULK
16132671,2019-12-02,Mon,15,1,327258,TRANSFER_VIB_ACCOUNT_BULK
16132672,2019-11-19,Tue,17,1,882344,TRANSFER_VIB_ACCOUNT_BULK
16132673,2019-11-13,Wed,10,5,199908,RB_BILLPAY_PSTN
16132674,2019-12-10,Tue,11,6,199908,RB_BILLPAY_PSTN

In [14]:
df3.dtypes

ACTIVITY_DATE      datetime64[ns]
DAY_OF_WEEK              category
ACTIVITY_HOUR               int64
ACTIVITY_NO                 int64
CUSTOMER_NUMBER             int64
ACTIVITY_NAME            category
dtype: object

In [22]:
df3.ACTIVITY_NAME.cat.categories

Index(['MB_INTEREST_RATE_VIEW', 'LOGIN', 'QUERY_ACCOUNT_INFORMATION',
       'TRANSACTION_OVERVIEW_QUERY', 'LOGOUT', 'MB_SET_PIN', 'AUTHENTICATION',
       'CHANGE_PASSWORD', 'TRANSFER_VIA_SML', 'MB_LOCATION_BRANCH_VIEW',
       'LOGIN_FACEID', 'TRANSFER_VIA_PAYMENT_CENTER', 'TOPUP_MOBILE',
       'MB_LOCATION_ATM_VIEW', 'MB_LOCATION_POS_VIEW',
       'MB_ACCOUNT_QUICK_BALANCE', 'LOGIN_FINGER', 'MB_BILLPAY',
       'TRANSFER_VIB_ACCOUNT', 'MB_CHANGE_PIN', 'MB_EXCHANGE_RATE_VIEW',
       'MB_RESET_PIN', 'QUERY_CURRENT_ACCOUNT', 'TRANSACTION_DETAIL_QUERY',
       'TRANSFER_VIA_SML_ACCOUNT', 'ACCOUNT_ADDRESS_BOOK_DELETE',
       'ACCOUNT_ADDRESS_BOOK_UPDATE', 'CARD_EGIFT_REGISTER_ANNUALFEE',
       'CARD_EGIFT_REGISTER_CASHBACK', 'CARD_EGIFT_REGISTER_REDEEM',
       'EXPORT_ACCOUNT_STATEMENT_LOAN', 'QUERY_ACCOUNT_PORFOLIO',
       'QUERY_LOAN_ACCOUNT', 'QUERY_MM_ACCOUNT', 'RB_BILLPAY_ADSL',
       'RB_BILLPAY_HOMEPHONE', 'RB_BILLPAY_INSURANCE', 'RB_BILLPAY_MOBILE',
       'RB_BILLPAY_PSTN', 'RB_BILLPAY_TELECOMMUNICATIONS', 'RB_BILLPAY_WATER',
       'SET_PASSWORD', 'TRANSFER_INTERNATIONAL', 'TRANSFER_VIA_PHONENO',
       'TRANSFER_VIB_ACCOUNT_BULK'],
      dtype='object')

In [11]:
df3[df3["CUSTOMER_NUMBER"] == 630178].sort_values(["ACTIVITY_DATE","ACTIVITY_HOUR"])

,ACTIVITY_DATE,DAY_OF_WEEK,ACTIVITY_HOUR,ACTIVITY_NO,CUSTOMER_NUMBER,ACTIVITY_NAME
3,2019-01-02,Wed,9,27,630178,MB_INTEREST_RATE_VIEW
2448885,2019-01-02,Wed,9,1,630178,LOGIN
6087103,2019-01-02,Wed,9,4,630178,QUERY_ACCOUNT_INFORMATION
8653233,2019-01-02,Wed,9,2,630178,TRANSACTION_OVERVIEW_QUERY
9732403,2019-01-02,Wed,9,1,630178,LOGOUT
...,...,...,...,...,...,...
40,2019-12-26,Thu,20,9,630178,MB_INTEREST_RATE_VIEW
2448933,2019-12-26,Thu,20,4,630178,LOGIN
6087147,2019-12-26,Thu,20,7,630178,QUERY_ACCOUNT_INFORMATION
8653253,2019-12-26,Thu,20,4,630178,TRANSACTION_OVERVIEW_QUERY
9732447,2019-12-26,Thu,20,2,630178,LOGOUT

In [8]:
df3[df3["CUSTOMER_NUMBER"] == 630178].sort_values(["ACTIVITY_DATE","ACTIVITY_HOUR"]).to_csv("df3_630178.csv")

In [13]:
df3[df3["CUSTOMER_NUMBER"] == 734991].sort_values(["ACTIVITY_DATE","ACTIVITY_HOUR"]).to_csv("temp734991.csv")